<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chess Club</title>
  
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <link href="https://c2a.chesstempo.com/pgnviewer/v2.5/pgnviewerext.vers1.css" media="all" rel="stylesheet" crossorigin>
<script defer language="javascript" src="https://c1a.chesstempo.com/pgnviewer/v2.5/pgnviewerext.bundle.vers1.js" crossorigin></script>

<link
href="https://c1a.chesstempo.com/fonts/MaterialIcons-Regular.woff2"
rel="stylesheet" crossorigin>

</head>

<body>
      {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

      <!-- ### NAV ### -->
{% if g.user %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Chess Club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-lg-flex align-items-center">
          <a class="nav-item nav-link" href="/">Home</a>
          <!-- <a class="nav-item nav-link" href="#">Friends</a> -->
          <a class="nav-item nav-link" href="/games/{{g.user.id}}">My Games</a>
          <a class="nav-item nav-link" href="/games/new">Post Game</a>
          <a class="nav-item nav-link" href="/games/find">Find Games</a>
          <a class="nav-item nav-link" href="/tags">Tags</a>
          <a class="nav-item nav-link" href="/likes">Liked Games</a>
          <a class="nav-item nav-link" href="/users/me"><img class="nav-user-icon" src="{{g.user.image_url}}"></a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </nav>

    {% endif %}

{% block content %}
{% endblock %}

<script src="/static/js/script.js"></script>

</body>
</html>

