{% extends 'base.html' %}
{% block content %}

{% for game in games %}
<div class="card w-75 mx-auto">
  <div class="card-body">
    <h5 class="card-title">Game ID: {{game.id}}</h5>
    <p class="card-text">
      <ct-pgn-viewer board-actions-menu-direction="under">
      {{game.pgn}}
      </ct-pgn-viewer></p>
    <a href="/games/game/{{game.id}}" class="btn btn-primary">View Game</a>
  </div>

  {% if game.user_id == user.id %}
  <div class="card-body">
    <form method="post" action="/games/game/{{game_id}}/delete>">
      <button class='btn btn-danger'>Delete Game</button>
    </form>
  </div>
  {% endif %}
  <div class="card-body">
    <h5>Posted By {{game.users.username}}</h5>
</div>
</div>

{% endfor %}

{% include 'footer.html' %}
{% endblock %}
