{% extends 'base.html' %}

{% block title %}
Chess Byte - View Game
{% endblock %}

{% block content %}

<h1>{{game.id}}</h1>
{{ game.white }}
{{game.black}}
<ct-pgn-viewer>
  {{game.pgn}}
  </ct-pgn-viewer>

{% if user.id == game.user_id %}
<a href="/games/game/{{game.id}}/edit" class="btn btn-primary">Edit Game</a>
<form method="post" action="/games/game/{{game.id}}/delete">
  <button class="btn btn-danger">Delete Game</button>
</form>
{% endif %}

{% include 'footer.html' %}

{% endblock %}

