{% extends 'base.html' %} {% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="Login!">Post A Chess Game</h2>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <h3>Tag Your Post!</h3>

      {% for tag in tags %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{tag.name}}" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          {{tag.name}}
        </label>
      </div>
      {% endfor %}

      <button class="btn btn-warning">Import/Update PGN</button>
    </form>
</div>
</div>


    {% endblock %}